body {
  background-image: url("l1.jpeg");
  background-size: auto;
  font-family: Arial, sans-serif;
}

@keyframes floatDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
  animation: floatDown 2s ease;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20vh;
  padding: 20px;
  text-align: center;
  background-color: #e0dada;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

input {
  display: block;
  margin-bottom: 10px;
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

label {
  cursor: pointer;
  display: block;
  margin-top: 10px;
  color: #989797;
}

#error-message {
  color: red;
  margin-top: 10px;
}

p {
  margin-top: 20px;
  color: #666;
}

a {
  color: #4CAF50;
}